a.back {
    text-decoration: none;
    display: inline-block;
    /* padding: 20px; */
    font-size: 21px;
    width: 40px;
    text-align: center;
    margin-left: 5px;
}

.back:hover {
    background-color: #5e92f3;
    color: black;
}

.back {
    border-radius: 50%;
    background-color: #1565c0;
    color: black;
}