@media only screen and (max-width:700px){
    #AutonavRes1{
        display: block;
        flex-direction:column;
        min-width:400px;
    }
    #AutonavRes2{
        display: block;
        flex-direction:column;
        min-width:400px;
        padding-left:40px;
    }
    #AutonavRes3{
        display: block;
        flex-direction:column;
        min-width:400px;
        padding-left:40px;
    }

    #AutoCard{
        display: block;
        max-width:300px
    }
  }
